:root {
    --text-color-primary:rgba(0, 0, 0, .8);
    --text-color-second: rgba(0, 0, 0, .4);
    --dark-text-color-primary: #FFFFFF;
    --dark-text-color-second: rgba(255, 255, 255, .5);
    --dark-background-color: #333333;

    --content-font: "PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    --caption-font: Inter,"Noto Sans CJK SC",sans-serif;
    --caption-font-variable: "Inter Var","Noto Sans CJK SC",sans-serif;
    --code-font: Monaco, monospace;
}
@font-face {
    font-family: "Inter";
    font-style:  normal;
    font-weight: 500;
    font-display: fallback;
    src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-style:  normal;
    font-weight: 600;
    font-display: fallback;
    src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-style:  normal;
    font-weight: 800;
    font-display: fallback;
    src: url("../fonts/Inter/Inter-ExtraBold.woff2") format("woff2");
}
@font-face {
    font-family: "Inter Var";
    font-weight: 100 900;
    font-style: oblique 0deg 10deg;
    font-display: fallback;
    src: url("../fonts/Inter/Inter.var.woff2") format("woff2");
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/PT_Sans/PTSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/PT_Sans/PTSans-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Number";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Number/Number-Light.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
body {
    font-size: 16px;
    font-family: var(--content-font);
    color: var(--text-color-primary);
}
code {
    font-family: var(--code-font);
}
a:link, a:visited {
    color: inherit;
}
video {
    outline: none;
}

nav {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 24px 32px;
    font-family: var(--caption-font);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .6);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}
nav ul {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}
nav li {
    display: block;
    align-self: end;
    margin-left: 16px;
}
nav .page-nav-toggle {
    display: none;
}
#nav-underline {
    position: absolute;
    top: 48px;
    left: -50px;
    height: 2px;
    width: 50px;
    border-radius: 1px;
    background: var(--text-color-primary);
    transition: left .2s cubic-bezier(.785,.135,.15,.86),
        width .2s cubic-bezier(.785,.135,.15,.86);
}
nav a:link, nav:visited {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
}
.flex-column.flex-center {
    align-items: center;
}
.flex-medium {
    align-items: center;
}
.flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.masonry-images .img {
    z-index: 1;
    position: relative;
    margin: 16px 8px;
}
.masonry-images img {
    display: block;
    border-radius: 8px;
}
.masonry-images .img::after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04), 0 2px 4px 0 rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.04), 0 8px 16px 0 rgba(0,0,0,0.04), 0 16px 32px 0 rgba(0,0,0,0.04), 0 32px 64px 0 rgba(0,0,0,0.04);
}

.works {
    padding: 96px 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.works .works-text {
    margin: auto;
    margin-bottom: 32px;
}
.works .works-logo {
    margin-bottom: 48px;
}
.works .works-content img {
    display: block;
}
.works .works-title {
    margin-bottom: 16px;
    font-family: var(--caption-font);
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2em;
}
.works .works-title-small {
    font-size: 32px;
    font-weight: 600;
}
.works .works-info {
    margin-bottom: 24px;
    font-family: var(--caption-font);
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color-second);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.works .works-info li {
    margin-right: 24px;
    padding-left: 24px;
    line-height: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.works .works-info .info-date {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='icon' d='M11.25 0a.75.75 0 01.75.75V2h1.25c.966 0 1.75.784 1.75 1.75v9.5A1.75 1.75 0 0113.25 15H2.75A1.75 1.75 0 011 13.25v-9.5C1 2.784 1.784 2 2.75 2H4V.75a.75.75 0 011.5 0V2h5V.75a.75.75 0 01.75-.75zm2.25 7.5h-11v5.75c0 .138.112.25.25.25h10.5a.25.25 0 00.25-.25V7.5zm-.25-4H2.75a.25.25 0 00-.25.25V6h11V3.75a.25.25 0 00-.25-.25z'/%3E%3C/defs%3E%3Cuse xlink:href='%23icon' fill='%23000' fill-opacity='.4'/%3E%3Cuse x='0' y='16' xlink:href='%23icon' fill='%23fff' fill-opacity='.5'/%3E%3C/svg%3E");
}
.works .works-info .info-tools {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='icon' d='M12.754 4.386L8 1.637 3.247 4.385 8 7.134l4.753-2.748zM2.5 5.684v5.496l4.753 2.748V8.433L2.5 5.684zm6.25 8.243l4.752-2.747V5.686L8.75 8.433v5.494zM7.252.338a1.496 1.496 0 011.498 0l5.502 3.18a1.499 1.499 0 01.749 1.3v6.362a1.501 1.501 0 01-.749 1.299l-5.502 3.18a1.496 1.496 0 01-1.498 0l-5.502-3.18a1.498 1.498 0 01-.749-1.3v-6.36a1.502 1.502 0 01.749-1.3L7.252.339V.338z'/%3E%3C/defs%3E%3Cuse xlink:href='%23icon' fill='%23000' fill-opacity='.4'/%3E%3Cuse x='0' y='16' xlink:href='%23icon' fill='%23fff' fill-opacity='.5'/%3E%3C/svg%3E");
}
.works .works-info .info-programme {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='icon' d='M1.75 1.5a.25.25 0 00-.25.25v12.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V1.75a.25.25 0 00-.25-.25H1.75zM0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v12.5A1.75 1.75 0 0114.25 16H1.75A1.75 1.75 0 010 14.25V1.75zm9.22 3.72a.75.75 0 000 1.06L10.69 8 9.22 9.47a.75.75 0 101.06 1.06l2-2a.75.75 0 000-1.06l-2-2a.75.75 0 00-1.06 0zM6.78 6.53a.75.75 0 00-1.06-1.06l-2 2a.75.75 0 000 1.06l2 2a.75.75 0 101.06-1.06L5.31 8l1.47-1.47z'/%3E%3C/defs%3E%3Cuse xlink:href='%23icon' fill='%23000' fill-opacity='.4'/%3E%3Cuse x='0' y='16' xlink:href='%23icon' fill='%23fff' fill-opacity='.5'/%3E%3C/svg%3E");
}
.works .works-description {
    line-height: 22px;
}
.works .works-description p {
    margin-bottom: 1em;
}
.tip {
    font-size: 14px;
}
.center {
    text-align: center;
    align-items: center;
}
.center .works-text {
    margin-left: auto;
    margin-right: auto; 
}
.center .works-info {
    justify-content: center;
}
.center .works-description {
    max-width: 600px;
    margin: auto;
}
.center .works-content img {
    margin: auto;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.split-medium {
    align-items: center;
}
.split .works-text, .split .works-content {
    width: 600px;
    margin: 0;
}
.dark {
    color: var(--dark-text-color-primary);
    background-color: var(--dark-background-color);
}
.dark .works-text{
    color: var(--dark-text-color-primary);
}
.dark .works-info {
    color: var(--dark-text-color-second);
}
.dark .works-info li {
    background-position: 0 -16px;
}
.popup-tip {
    position: absolute;
    z-index: 10;
    color: var(--dark-text-color-primary);
    background: var(--text-color-primary);
    padding: 16px;
    border-radius: 8px;
}
.popup-tip::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50% - 8px);
    bottom: -16px;
    border: 8px solid transparent;
    border-top: 8px solid var(--text-color-primary);
}
.animate-shake {
    animation: shake 1.2s ease-in-out infinite;
}

/* Section */
#app, #theme, #icon, #web, #sketch, #figma {
    height: 0;
} 
#section-app-1 {
    padding-top: 140px;
    background-image: linear-gradient(180deg, #FAFAFA 0%, #F5F5F5 100%);
}
#section-theme-1 {
    position: relative;
    background: #322C6E;
    transition: background-color 0.5s ease;
}
#section-theme-1 .theme-preview {
    padding-bottom: 100px;
}
#section-theme-1 .icon-masked {
    display: block;
    margin: auto;
    clip-path: url("#mask");
}
.icon-shape-controller {
    position: relative;
    padding: 32px;
    color: #FFFFFF;
    font-size: 12px;
}
.icon-shape-controller svg {
    display: block;
    margin: 0 8px;
}
.icon-shape-smooth {
    position: relative;
    height: 16px;
    margin: 0 8px;
}
.icon-shape-smooth input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    opacity: 0;
}
.icon-shape-smooth svg {
    margin: 0;
}
.icon-shape-smooth input:checked + svg path{
    stroke-opacity: 1;
}
.icon-shape-controller input[type=range] {
    width: 300px;
    height: 2px;
    border-radius: 1px;
    margin: 0 8px;
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(#3F51B5, #3F51B5);
    background-repeat: no-repeat;
    background-size: 0 100%;
}
.icon-shape-controller input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 2px solid #322C6E;
    transition: all .1s cubic-bezier(.4,0,.2,1);
}
.icon-shape-controller input[type="range"]::-moz-range-track {
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 2px solid #322C6E;
    transition: all .1s cubic-bezier(.4,0,.2,1);
}
.icon-shape-controller input[type=range]:active::-webkit-slider-thumb {
    transform: scale(1.2);
}
.icon-shape-controller input[type=range]:active::-moz-range-track {
    transform: scale(1.2);
}
.icon-shape-controller input[type=range]:focus {
    outline: none;
}
.icon-shape-controller .popup-tip {
    top: -40px;
    left: calc(50% - 144px);
}
.weather-icon {
    margin: 24px 0 96px;
}
#weather-cloud {
    animation: weather-cloud 2s ease infinite;
}
#widget {
    position: relative;
    z-index: 20;
    width: 311px;
    height: 311px;
    margin: auto;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    user-select: none;
}
#widget-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 311px;
    height: 311px;
    background: url(../images/theme/widget_bg.png) no-repeat 0 0;
    background-size: 311px 622px;
    transition: background-color 0.5s ease;
}
#widget-icon {
    position: absolute;
    top: 29px;
    left: 176px;
    width: 96px;
    height: 80px;
    overflow: hidden;
}
#widget-icon-sun, #widget-icon-moon {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background: #FFCC33;
    transition: top 1s ease;
}
#widget-icon-moon {
    top: 92px;
    background: #C6D2EC;
}
#widget-icon-cloud {
    position: absolute;
    top: 42px;
    left: 40px;
    width: 42px;
    height: 26px;
    border-radius: 13px;
    background: #FFFFFF;
    animation: widget-cloud 2s ease-in-out infinite;
}
#widget-date {
    position: relative;
    font-size: 14px;
    margin-top: 80px;
}
#widget-time {
    position: relative;
    font-family: number, sans-serif;
    font-size: 72px;
    margin-top: 8px;
}
#widget-weather {
    position: relative;
    font-size: 14px;
    margin-top: 8px;
}
#widget-sky {
    opacity: 0;
    transition: opacity 1s ease;
}
.meteor {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 2px;
    overflow: hidden;
    border-radius: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(-45deg, rgba(255,255,255,0), rgba(255,255,255));
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: 100% 0;
    opacity: 0;
    /* animation: meteor 5s ease infinite; */
}
.star {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    border-radius: 1px;
    background: #fff;
    opacity: 0.8;
    /* animation: star 3s ease infinite; */
}

#music-icon,
.music-icon-shadow,
.music-icon-bg,
#music-icon-fg {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 176px;
    border-radius: 24px;
    transition: all 0.2s ease-out;
}
#music-icon {
    position: relative;
    margin: 48px auto 96px;
}
.music-icon-wrap {
    transform: perspective(960px);
}
.music-icon-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.3), 0 8px 32px rgba(0, 0, 0, 0.3);
}
.music-icon-bg {
    overflow: hidden;
    background-image: linear-gradient(180deg, #FF2EBE 0%, #E40051 100%);
}
.music-icon-shine1 {
    position: absolute;
    top: -16px;
    left: -16px;
    width: 144px;
    height: 144px;
    border-radius: 72px;
    background: #FF2F10;
    filter: blur(30px);
    animation: music-icon-shine1 5s ease infinite;
}
.music-icon-shine2 {
    position: absolute;
    top: 64px;
    left: 128px;
    width: 136px;
    height: 136px;
    border-radius: 68px;
    background: #FFEE2F;
    filter: blur(36px);
    animation: music-icon-shine2 5s ease 2s infinite;
}
#music-icon-fg {
    opacity: 0.9;
    background: url(../images/theme/music_icon.png) no-repeat 50% 50%;
    background-size: contain;
}
#music-icon:hover .music-icon-shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.2), 0 50px 100px rgba(0, 0, 0, 0.2);
}
.theme-wrapper {
    position: relative;
    width: 1160px;
    height: 440px;
    margin: auto;
    user-select: none;
}
.theme-icon, .theme-icon-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-size: 120px;
    background-repeat: no-repeat;
    transition-property: all;
}
.theme-icon-clean {
    top: 160px;
    left: 592px;
    background-image: url(../images/theme/icon_clean_1.png);
}
.theme-icon-clean .theme-icon-layer-1 {
    background-image: url(../images/theme/icon_clean_2.png);
}
.theme-icon-clean .theme-icon-layer-2 {
    background-image: url(../images/theme/icon_clean_3.png);
}
.theme-icon-clean .theme-icon-layer-3 {
    background-image: url(../images/theme/icon_clean_4.png);
}
.theme-icon-clean.animate .theme-icon-layer-1 {
    animation: rotate 6s linear 10;
}
.theme-icon-clean.animate .theme-icon-layer-3 {
    animation: rotate-blur 10s linear 6;
}
.theme-icon-setting {
    top: 304px;
    left: 448px;
    background-image: url(../images/theme/icon_settings_1.png);
}
.theme-icon-setting .theme-icon-layer-1 {
    background-image: url(../images/theme/icon_settings_2.png);
}
.theme-icon-setting .theme-icon-layer-2 {
    background-image: url(../images/theme/icon_settings_3.png);
}
.theme-icon-setting.animate .theme-icon-layer-1,
.theme-icon-setting.animate .theme-icon-layer-2 {
    animation: rotate 20s linear 3;
}
.theme-icon-clock {
    top: 16px;
    left: 736px;
    background-image: url(../images/theme/icon_clock_1.png);
}
.theme-icon-clock .theme-icon-layer-1 {
    background-image: url(../images/theme/icon_clock_2.png);
}
.theme-icon-clock .theme-icon-layer-2 {
    background-image: url(../images/theme/icon_clock_3.png);
}
.theme-icon-clock .theme-icon-layer-3 {
    background-image: url(../images/theme/icon_clock_4.png);
}
.theme-icon-clock.animate .theme-icon-layer-1 {
    animation: rotate 43200 linear infinite;
}
.theme-icon-clock.animate .theme-icon-layer-2 {
    animation: rotate 3600s linear infinite;
}
.theme-icon-clock.animate .theme-icon-layer-3 {
    animation: rotate 60s steps(60, start) infinite;
}
.theme-icon-calendar {
    top: 16px;
    left: 304px;
    background-image: url(../images/theme/icon_calendar_1.png);
}
.theme-icon-calendar .theme-icon-layer-1 {
    font-size: 23px;
    font-family: Roboto, sans-serif;
    top: 4px;
    letter-spacing: 2px;
}
.theme-icon-calendar .theme-icon-layer-2 {
    font-size: 64px;
    font-weight: 300;
    font-family: "Helvetica Neue", Roboto, sans-serif;
    top: 35px;
    color: var(--text-color-primary);
}
.theme-icon-safe {
    top: 304px;
    left: 304px;
    background-image: url(../images/theme/icon_safe_1.png);
}
.theme-icon-safe .theme-icon-layer-1 {
    background-image: url(../images/theme/icon_safe_2.png);
}
.theme-icon-safe .theme-icon-layer-2 {
    background-image: url(../images/theme/icon_safe_3.png);
}
.theme-icon-safe.animate .theme-icon-layer-1 {
    animation: rotate-safe 20s steps(5, start) 3;
}
.theme-icon-compass {
    top: 160px;
    left: 1024px;
    background-image: url(../images/theme/icon_compass_1.png);
}
.theme-icon-compass .theme-icon-layer-1 {
    background-image: url(../images/theme/icon_compass_2.png);
    top: 6px;
}
.theme-icon-compass .theme-icon-layer-2 {
    background-image: url(../images/theme/icon_compass_3.png);
}
.theme-icon-compass .theme-icon-layer-3 {
    background-image: url(../images/theme/icon_compass_4.png);
}
.theme-icon-compass.animate .theme-icon-layer-1,
.theme-icon-compass.animate .theme-icon-layer-2 {
    animation: rotate-compass 0.5s ease-in-out 120;
}
.theme-icon-security {
    top: 304px;
    left: 592px;
    background-image: url(../images/theme/icon_security_1.png);
}
.theme-icon-security .theme-icon-layer-1 {
    border-radius: 28px;
    background-repeat: repeat-y;
    background-image: url(../images/theme/icon_security_2.png);
}
.theme-icon-security .theme-icon-layer-2 {
    background-image: url(../images/theme/icon_security_3.png);
}
.theme-icon-security.animate .theme-icon-layer-1 {
    animation: matrix 6s steps(12, start) 10;
}


.code-window {
    width: 400px;
    height: 200px;
    margin: auto;
    padding: 16px;
    background: #151718;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2), 0 4px 8px rgba(0, 0, 0, .2), 0 10px 20px rgba(0, 0, 0, .2), 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-align: left;
    color: #FFFFFF;
    font-size: 14px;
}
.code-window pre {
    padding: 8px;
}
.lang-shell {
    color: #00CC66;
}
.lang-shell code::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 1em;
    margin: 0 .2em;
    background: #00CC66;
    vertical-align: baseline;
    transition-property: none;
    animation: cursor 1s step-end infinite;
}
#section-theme-2 {
    background: #F0F7FF;
}
#section-theme-4 {
    background: #313163;
}
#section-theme-5 {
    background: #2B333D;
}
#section-theme-7, #section-theme-9 {
    background: #2B333D;
}
#section-theme-8 {
    background: #2F1877;
}
#section-icon-1 #android-system-icon {
    margin-bottom: 48px;
}
#section-icon-1 .icon-export-demo .code-window {
    height: 112px;
    margin: 0;
}
.icon-change-color {
    position: relative;
    padding-top: 48px;
}
.icon-change-color .popup-tip {
    top: -24px;
}
#icon-change-color {
    margin: 16px 0;
}
#icon-change-color input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #FFFFFF;
    margin: 0 8px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}
#icon-change-color input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 8px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(7.5px, -2.5px);
}
#icon-export-file {
    height: 24px;
    margin-top: 24px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.file-icon {
    height: 24px;
    line-height: 24px;
    margin: 0 8px;
    padding-left: 16px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0L7 5h5L12 16H0V0h7zM8 0l4 4H8V0z' fill='%23000' fill-opacity='.8'/%3E%3C/svg%3E%0A");
}
#section-icon-2 {
    padding-top: 80px;
    padding-bottom: 80px;
}
#section-web-1 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.works-content .slide {
    position: relative;
    width: 600px;
    height: 400px;
}
.works-content .slide img {
    position: absolute;
    top: 0;
    left: 0;
}
.works-content .slide img + img {
    opacity: 0;
}
.slide-theme-app {
    height: 468px !important;
}
#section-sketch-2 {
    background: #EEEEEE;
}
#section-sketch-1,
#section-figma-1, #section-figma-2 {
    border-top: 1px solid #DDDDDD;
}
#section-figma-3 {
    background: #2a2a2a;
}
#section-figma-5 {
    background: #303236;
}
.read-more {
    display: inline-block;
    color: #FFFFFF;
    background: #3399FF;
    margin-top: 24px;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
}
.read-more-ghost {
    box-sizing: border-box;
    color: #0080FF;
    background: transparent;
    border: 2px solid #3399FF;
    padding: calc(0.8rem - 2px) calc(1.2rem - 2px);
}
.read-more:link, .read-more:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.read-more:hover, .read-more:active {
    background: #0080FF;
}
.read-more-ghost:link, .read-more-ghost:visited {
    color: #3399FF;
}
.read-more-ghost:hover, .read-more-ghost:active {
    color: #FFFFFF;
    border-color: #0080FF;
}
.npm-download-chart {
    overflow: hidden;
    margin: 24px 0;
    text-align: left;
    border-bottom: 3px solid rgba(137, 86, 255, .2);
}
.npm-download-chart svg {
    float: right;
    display: block;
    margin: 0;
}
#npm-chart-day {
    float: left;
    color: #999;
    margin-bottom: 8px;
    font-size: 0.8rem;
}
#npm-chart-downloads {
    float: left;
    clear: left;
    font-size: 1.5rem;
    font-family: number, sans-serif;
}
.sketch-plugin-stats {
    font-size: 0.8rem;
    margin-bottom: 32px;
}
.sketch-plugin-stats li {
    margin: 16px;
}
.sketch-plugin-stats strong {
    display: block;
    margin-bottom: 8px;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: var(--caption-font);
}
.plugin-logos {
    margin-bottom: 96px;
}
.plugin-quote {
    height: 6rem;
    line-height: 1.2em;
    overflow: hidden;
    font-style: italic;
    font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
}
.plugin-quote #quote-text {
    font-size: 1.2rem;
    margin-bottom: 8px;
    transition: opacity 0.8s linear;
}
.plugin-quote #quote-text::before,
.plugin-quote #quote-text::after {
    content: "\201C";
    font-size: 1.5em;
    line-height: 1em;
    color: #999999;
}
.plugin-quote #quote-text::after {
    content: "\201D";
}
.plugin-quote #quote-author {
    color: #999999;
    padding-left: 3em;
    transition: opacity 0.8s linear;
}
.plugin-quote #quote-author::before {
    content: "";
    display: inline-block;
    border-bottom: 2px solid;
    width: 1em;
    height: 0;
    margin: 0 8px;
    vertical-align: middle;
}
.plugin-features {
    margin-bottom: 48px;
}
.plugin-features li {
    width: 200px;
    margin: 16px;
}
.plugin-features img {
    display: block;
    margin: auto;
}
#about {
    padding: 96px 0;
    background-size: 1000px 500px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.about {
    padding: 24px;
    margin: 0 auto;
    max-width: 600px;
    background: rgb(255, 255, 255, 0.8);
}
.about h3 {
    font-family: var(--caption-font);
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 16px;
}
.about p {
    margin-bottom: 1em;
}
.contact {
    margin-left: 1em;
    list-style-type: disc;
    line-height: 2em;
}
.contact a:link, .contact a:visited {
    text-decoration: none;
    margin: 8px;
}
#wechat::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M11,13 L11,21 L3,21 L3,13 L11,13 Z M15,19 L15,21 L13,21 L13,19 L15,19 Z M19,19 L19,21 L17,21 L17,19 L19,19 Z M9.5,14.5 L4.5,14.5 L4.5,19.5 L9.5,19.5 L9.5,14.5 Z M17,17 L17,19 L15,19 L15,17 L17,17 Z M21,17 L21,19 L19,19 L19,17 L21,17 Z M8,16 L8,18 L6,18 L6,16 L8,16 Z M19,15 L19,17 L17,17 L17,15 L19,15 Z M15,15 L15,17 L13,17 L13,15 L15,15 Z M21,13 L21,15 L19,15 L19,13 L21,13 Z M17,13 L17,15 L15,15 L15,13 L17,13 Z M11,3 L11,11 L3,11 L3,3 L11,3 Z M21,3 L21,11 L13,11 L13,3 L21,3 Z M9.5,4.5 L4.5,4.5 L4.5,9.5 L9.5,9.5 L9.5,4.5 Z M19.5,4.5 L14.5,4.5 L14.5,9.5 L19.5,9.5 L19.5,4.5 Z M8,6 L8,8 L6,8 L6,6 L8,6 Z M18,6 L18,8 L16,8 L16,6 L18,6 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px;
    overflow: hidden;
    margin-left: 8px;
    vertical-align: middle;
}
.wechat-qrcode {
    position: absolute;
    top: 0;
    left: 0;
    width: 188px;
    height: 262px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04), 0 2px 4px 0 rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.04), 0 8px 16px 0 rgba(0,0,0,0.04), 0 16px 32px 0 rgba(0,0,0,0.04), 0 32px 64px 0 rgba(0,0,0,0.04);
}
.scroll-down {
    position: fixed;
    top: bottom;
    left: 50%;
    width: 48px;
    height: 48px;
    background: red;
}

@keyframes cursor {
    0% { display: 1; }
    50% { opacity: 0; }
}
@keyframes shake {
    0% { margin-top: 0; }
    50% { margin-top: 8px; }
}
@keyframes weather-cloud {
    0% { x: 64; }
    50% { x: 68; }
}
@keyframes widget-cloud {
    0% { margin-left: 0px; }
    50% { margin-left: 8px; }
}
@keyframes meteor {
    15% { opacity: 0.8; }
    30%, 100% { background-size: 10% 100%; background-position: 0; opacity: 0; }
}
@keyframes star {
    10% { opacity: 0; }
    40% { opacity: 0.8; }
}
@keyframes music-icon-shine1 {
    50% { top: 8px; left: 8px; filter: blur(50px); }
}
@keyframes music-icon-shine2 {
    50% { top: 80px; left: 160px; filter: blur(60px); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes rotate-safe {
    25% { transform: rotate(36deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-36deg); }
}
@keyframes rotate-compass {
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
}
@keyframes rotate-blur {
    0% { transform: rotate(0deg); }
    10% { opacity: 0; filter: blur(2px); }
    100% { transform: rotate(3600deg); }
}
@keyframes matrix {
    0% { background-position-y: 0; }
    50% { background-position-y: 65px; }
    100% { background-position-y: 130px; }
}

@supports (font-variation-settings: normal) {
    .nav,
    .works .works-title,
    .works .works-info,
    .about h3 {
        font-family: var(--caption-font-variable);
    }
    .nav {
        font-variation-settings: "wght" 600, "slnt" 0;
    }
    .works .works-title,
    .about h3 {
        font-variation-settings: "wght" 800, "slnt" 0;
    }
    .works .works-info {
        font-variation-settings: "wght" 500, "slnt" 0;
    }
    .works .works-title-small {
        font-variation-settings: "wght" 600, "slnt" 0;
    }
}

@media screen and (max-width: 1024px) {
    .split .works-info {
        flex-direction: column;
    }
    .split .works-info li {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 960px) {
    .works-info {
        justify-content: center;
    }
    .split .works-info {
        flex-direction: row;
    }
    .works,
    .split {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: center;
        align-items: center;
    }
    .works .works-text {
        max-width: 600px;
    }
    .tip {
        max-width: 600px;
        margin: auto;
        padding: 0 24px;
    }
    .split .works-text, .split .works-content {
        width: auto;
    }
    .works-content img {
        margin: auto;
    }
    .split .works-text {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 480px) {
    #nav-underline {
        display: none;
    }
    nav .page-nav-toggle {
        position: relative;
        display: block;
        float: right;
        width: 24px;
        height: 24px;
    }
    nav .page-nav-toggle .line {
        position: absolute;
        display: block;
        left: 4px;
        width: 16px;
        height: 2px;
        background: rgba(0, 0, 0, 0.8);
        transition: all 200ms;
    }
    nav .page-nav-toggle .line-1 {
        top: 5px;
    }
    nav .page-nav-toggle .line-2 {
        top: 11px;
    }
    nav .page-nav-toggle .line-3 {
        top: 17px;
    }
    nav .page-nav-toggle-close .line-1{
        transform: translate(0, 6px) rotate(45deg);
    }
    nav .page-nav-toggle-close .line-2{
        opacity: 0;
    }
    nav .page-nav-toggle-close .line-3{
        transform:  translate(0, -6px) rotate(-45deg);
    }
    #page-nav {
        display: none;
        height: 100vh;
        padding-top: 24px;
    }
    .show-nav #page-nav {
        display: block;
    }
    #page-nav li {
        margin: 0;
    }
    #page-nav li a {
        display: block;
        padding: 16px;
    }
    #page-nav li a span {
        padding: 8px 0;
        position: relative;
    }
    #page-nav li a span::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 0;
        height: 2px;
        border-radius: 1px;
        background: var(--text-color-primary);
        transition: width .2s cubic-bezier(.785,.135,.15,.86);
    }
    #page-nav li a:hover span::after {
        width: 100%;
    }
    .works-text {
        max-width: 360px;
        padding: 0 24px;
    }
    .icon-shape-controller input[type=range] {
        width: 160px;
    }
    .flex-row {
        flex-wrap: wrap;
        width: 600px;
    }
    #section-theme-1 .flex-row {
        flex-wrap: nowrap;
        width: auto;
    }
    #section-theme-1 .icon-masked {
        transform: scale(0.5);
        margin: -140px 0;
    }
}
@media screen and (max-width: 360px) {
    .flex-row {
        width: auto;
    }
}